<h1>ABOUT</h1>

<p>I have always been a friki one, but when I was a kid nobody used to say the word "friki". Now, people misuse it and most of the times it is said as an insult. I think that is very unfair, because this world goes on thanks to the friki power.
So,I am friki and proud of it! (for the glory of Sheldom Cooper).</p>

<%= link_to 'Home', root_path %>