<div class= "container">
	<footer class= "footer">
		<small>
			Every content under lisence CC BY 2.0 ES | Author: <a href= "https://es.wikipedia.org/wiki/Friki"> FrikiFer</a>
		</small>

		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>	